site_name: TabPFN
theme:
  name: material
  features:
    - search.suggest
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
  palette:
    primary: custom
# repo_url: https://github.com/automl/TabPFN
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: ["src/tabpfn"]
          rendering:
            merge_init_into_class: true
            docstring_style: "google"
          options:
            filters: ["!^_"]
            heading_level: 1
            line_length: 60
            inherited_members: true
            separate_signature: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            signature_crossrefs: true
            summary: true
            show_signature: true
            show_source: False
            
extra_css:
  - stylesheets/extra.css
    
nav:
  - Home: index.md
  - Classification: classification.md
  - Regression: regression.md
  - Usage Tips: intended_use.md
  - Code download: code_download.md
  - Experimental Reproduction: reproduction.md
  - API Reference:
    - TabPFNClassifier: api/tabpfn_classifier.md
    - TabPFNRegressor: api/tabpfn_regressor.md
    - AutoTabPFNClassifier: api/AutoTabPFNClassifier.md
    - AutoTabPFNRegressor: api/AutoTabPFNRegressor.md
    - TabPFNUnsupervisedModel: api/TabPFNUnsupervisedModel.md
    - Transformer: api/model.transformer.md
    - MLP: api/model.mlp.md
    - Encoders: api/model.encoders.md
    
# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  # - pymdownx.highlight:
  #     linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
        
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/PriorLabs

# copyright: Copyright &copy; 2024 PriorLabs
  
#extra:
#  analytics:
#    provider: google
#    property: G-XXXXXXXXXX